{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">              
                <div class='slide' style='left:-960px;'>
                    <center> <img src="{{ asset('bundles/epitacourse/img/logo.png') }}" /></div>
                    </img></center>
                    <center><span><h3>EPITA Courses Portal</span></center></h3>
            </div>

            <div id="status">
                <p>
                <center>  <h5> <a href="{{ path('fos_user_registration_register') }}">New User?Register Here</a></h5></p></a>
<p><h5><a href="{{path('fos_user_security_login')}}">Already Registred? Login</a></h5>
                    </a></p></center>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    div {background-color:#D3D3D3;}
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }
    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }
    }
</style>
{% endblock %}